    $lavender-dark:#eabbff;
    $lavender:#eabbff;
    $lavender-light:#E2CFFF;
    $gold:#FFC107;
    $gold-light:#ffebad;
    $bg:#ffffff;
    $black:#484C53;
    $grey:#F4F6F8;
    $grey-dark:#e6e6e6;
    $text-grey:#6A6D70;
    $text-light:#b4b4b4;
    $red:#FF0909;
    $redHov:#ffb0b0;
    $green:#0ae50a;
    $dark-green:#38b389;
    $greenHov: #b2ffb2;
    $main-color: #fff;
    $bg-color: #7952B3;
    $bgHov-color: #b789ff;
    $content-color: #E5E5E5; 
    $hovFocus-color: #e9e9e9;
    $GoldBackground-color: #FFEFBF;
    $text-color: #0000;
    $theadBackground-color: #F4F6F8;
    $tableBottom-color: #F4F6F8;
    $tableText-color: #6A6D70;
    $blue-color: #1b83eb;
    $rov-color: #e600e6;